SECRET_KEY='&xjg@w9wz%(8sh)_fr4w(*yf8utj=3uefxtjim63#q2s#5g#r_'
DEBUG=1
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
FASTAPI_URL=http://127.0.0.1:8001
GEMINI_API_KEY=
APIFY_TOKEN=
APIFY_API_TOKEN=
GEMINI_MODEL=gemini-2.5-flash
LINKEDIN_ACTOR_ID=hKByXkMQaC5Qt9UMN
DEFAULT_FROM_EMAIL=noreply@skillsync.local
